body {
   background-image: url("../images/LOTR.png");
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Bilbo', cursive;
   font-weight: bold;
}

h1 {
   font-size: 34px;
}

button {
   margin: 5px 5px;
}

.card {
   margin: 4px 4px;
}
